<div class="box">
  <div class="task-content"
       [ngClass]="{'completed-task':task.status === taskStatus.completed}">
    <input type="checkbox"
           (click)="changeTaskStatusHandler($event)"
           [checked]="task.status === taskStatus.completed">

    <input type="text"
           *ngIf="editMode; else content"
           [(ngModel)]="newTaskTitle"
           (blur)="editTaskTitleHandler()"
           class="input">

    <ng-template #content>
      <h4 (dblclick)="activateEditModeHandler()">{{ task.title }}</h4>
    </ng-template>
  </div>

  <button (click)="deleteTaskHandler()">-</button>
</div>
