.login-wrapper {
  width: 300px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: red;
}

.input-error {
  background-color: #f3c4c4;
}

.input-success {
  background-color: #cff3cf;
}
