<proj-fruits></proj-fruits>

<!--Two way binding-->
<!--<h1>{{ text }}</h1>-->
<!--<input type="text" [(ngModel)]="text">-->


<!--<div>-->
<!--  <h1>{{appTitle}}</h1>-->
<!--  <h1>{{user.age}}</h1>-->
<!--</div>-->

<!--Property binding-->
<!--<button [disabled]="isAppLoading">Send</button>-->

<!--Event binding-->
<!--<h1>{{ appTitle }}</h1>-->
<!--<button (click)="changeTitleHandler()">Change Title</button>-->
<!--<hr/>-->

<!--<h1>{{ text }}</h1>-->
<!--<input type="text" (input)="changeTextHandler($event)">-->

<!--<h1>{{ text }}</h1>-->
<!--<input type="text" (keyup.enter)="changeTextHandler($event)">-->
